h1 {
  text-align: center;
}

#chartContainer {
  height: 1000px;
  width: 1000px;
  margin-left: 20px;
}

#buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#displayDataBtn {
  background: #283961;
  margin-left: 20px;
}

#barChart {
  margin: 20px;
}

#pointGraph {
  margin: 20px;
}